<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.competition.mapper.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.competition.entity.Schedule">
    <!--@mbg.generated-->
    <id column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="player_id" jdbcType="INTEGER" property="playerId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <association property="game" javaType="com.competition.entity.Game">
      <id column="c_id" jdbcType="INTEGER" property="cId" />
      <result column="game_name" jdbcType="VARCHAR" property="gameName" />
      <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
      <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
      <result column="details" jdbcType="VARCHAR" property="details" />
    </association>
    <association property="player" javaType="com.competition.entity.Player">
      <id column="player_id" jdbcType="INTEGER" property="playerId" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    schedule_id, game_id, player_id, group_name, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from schedule
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from schedule
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.competition.entity.Schedule">
    <!--@mbg.generated-->
    insert into schedule (schedule_id, game_id, player_id, 
      group_name, title)
    values (#{scheduleId,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{playerId,jdbcType=INTEGER}, 
      #{groupName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.competition.entity.Schedule">
    <!--@mbg.generated-->
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scheduleId != null">
        schedule_id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="title != null">
        title
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.competition.entity.Schedule">
    <!--@mbg.generated-->
    update schedule
    <set>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
    </set>
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.competition.entity.Schedule">
    <!--@mbg.generated-->
    update schedule
    set game_id = #{gameId,jdbcType=INTEGER},
      player_id = #{playerId,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-05-->
  <select id="findAllByGameId" resultMap="BaseResultMap">
    select selectschedule.*,player.*,game.*
    from schedule
    INNER JOIN player ON player.player_id = schedule.player_id
    INNER JOIN game ON game.c_id = schedule.game_id
    where schedule.game_id=#{gameId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-05-->
  <select id="findAll" resultMap="BaseResultMap">
    select schedule.*,player.*,game.*
    from schedule
    INNER JOIN player ON player.player_id = schedule.player_id
    INNER JOIN game ON game.c_id = schedule.game_id
  </select>
</mapper>